/* Lists of stories */

.stories-list {
  margin: 20px 5px;
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: bold;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
  color: green;
}

.story-user {
  display: block;
  color: #ffa600;
}

.active {
  color: brown;
}

.main-story-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inner-li {
  display: flex;
  gap: 10px;
}

.inner-title-host {
}

.fa-heart {
  cursor: pointer;
}

.fa-trash {
  cursor: pointer;
}
